link(rel="stylesheet" href="./header.scss")
header
    div.container
        span.logo
            img.logo__img
        div.nav
            ul
                li.nav__item
                    a.nav__link Home
                li.nav__item
                    a.nav__link About
                li.nav__item
                    a.nav__link services
                li.nav__item
                    a.nav__link portfolio
                li.nav__item
                    a.nav__link blog
                li.nav__item
                    a.nav__link features
                li.nav__item
                    a.nav__link contacts