doctype
html(lang="ru")
    head
        meta(charset="utf-8")
        title= "Modus"
        link(rel="stylesheet" href="dist/styles.css")
    body
        div.wrapp#main
            include components/header/header
            div.content
                | rhrhrhrh rh rhrthrthrhrth rhrhr
            footer